<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singing with Simulations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Saira+Semi+Condensed&display=swap" rel="stylesheet">
    <style>
        .hero.has-background {
        position: relative;
        overflow: hidden;
        }
        .hero-background {
        position: absolute;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        }
        .hero-background.is-transparent {
        opacity: 0.15;
        }
    </style>
  </head>
  <body
  style="font-family: Saira Semi Condensed"
  >
  <div class="hero is-fullheight is-success has-background">
  <img alt="Eniac" class="hero-background is-transparent" src="https://upload.wikimedia.org/wikipedia/commons/1/17/World%27s_First_Computer%2C_the_Electronic_Numerical_Integrator_and_Calculator_%28ENIAC%29.gif" />
  <div class="hero-body">
    <div class="container">
      <h1 style="font-size: 9em; line-height: 1em" class="is-mobile-4">
        <strong>Singing with Simulations</strong>
      </h1>
      <h1 style="font-size: 3em">
        A place for accessible computer models and discussion
      </h3>
    </div>
  </div>
</div>
    
      
  </body>
</html>