<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singing with Simulations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Saira+Semi+Condensed&display=swap" rel="stylesheet">
    <style>
        .hero.has-background {
        position: relative;
        overflow: hidden;
        }
        .hero-background {
        position: absolute;
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        }
        .hero-background.is-transparent {
        opacity: 0.15;
        }
    </style>
  </head>
  <body
  style="font-family: Saira Semi Condensed"
  >
  <div class="hero is-fullheight is-link has-background">
  <img alt="Eniac" class="hero-background is-transparent" src="https://upload.wikimedia.org/wikipedia/commons/1/17/World%27s_First_Computer%2C_the_Electronic_Numerical_Integrator_and_Calculator_%28ENIAC%29.gif" />
  <div><header class="navbar" style="float: right;"><a class="button is-black is-size-6-mobile" href="/" style="margin: 5px;"><span>Home</span></a><a class="button is-black is-size-6-mobile" href="/sims/" style="margin: 5px;"><span>Simulations</span></a><a class="button is-black is-size-6-mobile" href="/about" style="margin: 5px;"><span>About</span></a></header></div>
  <div class="hero-body">
    <div class="container">
      <h1 style="font-size: 3em">
        About
      </h3>
      
      <div class="box is-link">
          <p>
            Computer simulation models have clearly been very important for expanding the boundaries of scientific knowledge. But often, simulation code can only be run with extremely expensive software, or can only be used by researchers with specialized training. The purpose of this project is to address this problem, in a very small way, by creating some simulation models that can be easily used by any person who has a web browser and internet connection. 
          </p>
          <br>
          <p>
              Although still very much a work in progress, my hope is that this website will become a resource for people interested in different types of computer models. When it is finished, users will be able to run various types of simulations, and will also be able to leave comments to discuss the different models. 
            </p>
            <br>
            <p>  
              The name of the site, "Singing with Simulations", is a reference to something Wynne Godley and Marc Lavoie wrote in their book <i>Monetary Economics</i>. I think the phrase they used—"making it all sing with simulations"—captures both the joy and the inherent strangeness of representing real-life phenomena with computer code. Your mileage may vary, but I hope that when this site is finished, some of that joy will come across for users. 
          </p>
        </p>
        <br>
        <p>
            For more about me, <a href="https://sgthompson.herokuapp.com"><u>click here</u></a>. 
        </p>
    </div>
      
    </div>
  </div>
</div>
    

  </body>
</html>